<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

<body>
	<main>
		<section id="detail">
			<img src="<%= data.hdurl %>" title="<%= data.title %>" alt="NASA Astronomy Picture">
			<a href="/">
				<img src="../media/images/exit_icon.svg" alt="navigate to overview">
			</a>
			<h1><%= data.title %></h1>
			<p><%= data.date %></p>
			<p><%= data.explanation %></p>
			<p><%= data.copyright %></p>
		</section>
	</main>
</body>

</html>