<!DOCTYPE html>
<html lang="en">

<%- include("components/head.ejs"); -%>

<body>
    <%- include('components/header.ejs') %>
    <main id="content">


        <section class="detail-section">
            <article>
                <header>
                    <h1><%= movie.title %></h1>
                </header>
                <figure>
                    <img src="<%= movie.poster_path %>" alt="<%= movie.title %>">
                    <figcaption>
                        <div>Genres: <%= movie.genres %> </div>
                        <div><%= movie.overview %></div>
                    </figcaption>
                </figure>
            </article>
            <% if(Array.isArray(trailers)){ 
                if('key' in trailers[0] == true){
                %>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/<%= trailers[0].key%>">
            </iframe>
            <% }} %>

        </section>
        <!-- <a href="#movie/<%=movie.id%>">
                    <article>
                        <h3><%= movie.title %></h3>
                        <img src="https://image.tmdb.org/t/p/w342/<%= movie.poster_path %>" alt="<%= movie.title %>">
                        <div data-ui="rating"><%= movie.vote_average %></div>
                    </article>
                </a> -->








    </main>
    <footer>
        <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p> <img
            src="/images/the-movie-db-logo.cb5571ba.png" alt="">
    </footer>
    <script src="app.c5ec5717.js"></script>
</body>

</html>