<!DOCTYPE html>
<html lang="en">

<%- include('components/head.ejs') %>

<body>
    <header> This product uses the TMDb API but is not endorsed or certified by TMDb. <div> <input type="text"
                placeholder="Search for a movie..." required> <a href="#search">Search</a> </div>
    </header>
    <main id="content">


     <section class="detail-section">

    

            <article>
                <header>
                    <h1><%= movie.title %></h1>
                </header>
                <figure>
                    <img src="https://image.tmdb.org/t/p/w342/<%= movie.poster_path %>" alt="<%= movie.title %>">
                    <figcaption>
                   
                     
                        <div><%= movie.overview %></div>
                    </figcaption>
                </figure>
            </article>
                
                </section>
                <!-- <a href="#movie/<%=movie.id%>">
                    <article>
                        <h3><%= movie.title %></h3>
                        <img src="https://image.tmdb.org/t/p/w342/<%= movie.poster_path %>" alt="<%= movie.title %>">
                        <div data-ui="rating"><%= movie.vote_average %></div>
                    </article>
                </a> -->
     

   


        


    </main>
    <footer>
        <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p> 
        <img src="/images/the-movie-db-logo.cb5571ba.png" alt="">
    </footer>
</body>

</html>