<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

<body>
	<main>
		<section id="overview">
			<%- include('header') %>
			<%- include('user_actions') %>
			<div>
				<% if (locals.data) { %>
				<% data.forEach(item => { %>
				<a href="/apod/<%= item.id %>" copyright="<%= item.copyright %>">
					<span>
						<img src="<%= item.hdurl %>" title="<%= item.title %>" alt="NASA Astronomy Picture">
						<p><%= item.date %></p>
					</span>
				</a>
				<% }) } else { %>
				<p>Something went wrong, couldn't load the data!</p>
				<% } %>
			</div>
		</section>
	</main>

	<script type="module" src="../scripts/handlers.js"></script>
</body>

</html>