<!DOCTYPE html>
<html lang="en">

<%- include('components/head.ejs') %>

<body>
    <%- include('components/header.ejs') %>
    <main id="content">

        <% data.forEach((genre)=> { %>
            
        <section class="overview-section" data-genre-name="<%= genre.name %>">
            <div class="wrapper">
                <h2><%= genre.name %></h2>
            <% 
                genre.data.results.forEach((movie, i)=> { 
                    if(i < 4){
            %>
            
                <a href="movie/<%= movie.id%>/<%= movie.title.replace(/\s+/g, '-').toLowerCase(); %>">
                    <article>
                        <h3><%= movie.title %></h3>
                        <img src="https://image.tmdb.org/t/p/w342/<%= movie.poster_path %>" alt="<%= movie.title %>">
                        <div data-ui="rating"><%= movie.vote_average %></div>
                    </article>
                </a>

            <%}})%>   
        </div>
    </section>
    <%})%>   


        


    </main>
    <footer>
        <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p> <img
            src="/images/the-movie-db-logo.cb5571ba.png" alt="">
    </footer>
</body>

</html>