<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

<body>
	<main>
		<section id="overview">
			<div>
				<% data.forEach(item => { %>
				<a href="/apod<%= item.id %>">
					<span>
						<img src="<%= item.hdurl %>" title="<%= item.title %>" alt="NASA Astronomy Picture">
						<p><%= item.date %></p>
					</span>
				</a>
				<% }) %>
			</div>
		</section>
	</main>
</body>

</html>