<!DOCTYPE html>
<html lang="en">

<%- include('components/head.ejs') %>

<body>
    <%- include('components/header.ejs') %>
    <main id="content">
        <h2>Results: <%= query.query %></h2>
        <nav>
            <!-- <a href="<%= query.url %>">Next</a> -->
            Page <%= query.page %> of <%= meta %>
            <a href="<%= prevPage  %>" class="<%= query.page == 1 ? 'inactive': 'active'%>">Previous</a>
            <a href="<%= nextPage  %>" class="<%= query.page >= meta ? 'inactive': 'active'%>">Next</a>
        </nav>
        <div class="wrapper">
           
        <% data.forEach((movie)=> { %>
            
                <a href="movie/<%= movie.id%>/<%= movie.title.replace(/\s+/g, '-').toLowerCase(); %>">
                    <article class="loading">
                        <h3><%= movie.title %></h3>
                        <img src="<%= movie.poster_path %>" alt="<%= movie.title %>">
                        <div data-ui="rating"><%= movie.vote_average %></div>
                    </article>
                </a>

            <%})%>   
        </div>

    </main>
    <footer>
        <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p> <img
            src="the-movie-db-logo.cb5571ba.png" alt="">
    </footer>
    <script src="app.c5ec5717.js"></script>
</body>

</html>